{% extends 'base-admin.html' %}

{% block head %}



<style>
    #map {
        height: 500px;
        width: 100%;
    }

    

    .input-group-static {
        margin-bottom: 1.5rem;
    }

    .input-group-static .form-control.zip-code {
        width: 120px;
    }
</style>
{% endblock %}

{% block body %}




<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="multisteps-form mb-9">
          <!--progress bar-->
          <div class="row">
            <div class="col-12 col-lg-8 mx-auto my-5">
            </div>
          </div>
          <!--form panels-->
          <div class="row">
            <div class="col-12 col-lg-8 m-auto">
              <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-info shadow-info border-radius-lg pt-4 pb-3">
                    <div class="multisteps-form__progress">
                      <button class="multisteps-form__progress-btn js-active" type="button" title="Account Info">
                        <span>Account Info</span>
                      </button>
                      <button class="multisteps-form__progress-btn" type="button" title="General">General</button>
                      <button class="multisteps-form__progress-btn" type="button" title="Work Info">Work</button>
                      <button class="multisteps-form__progress-btn" type="button" title="National ID">National ID</button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form class="multisteps-form__form" role="form" method="POST" enctype="multipart/form-data" id="user-create">
                    {% csrf_token %}

                    <!--single form panel-->
                    <div class="multisteps-form__panel border-radius-xl bg-white js-active" data-animation="FadeIn">
                      <h5 class="font-weight-bolder mb-0">Account Info</h5>
                      <p class="mb-0 text-sm">Mandatory information</p>
                      <div class="multisteps-form__content" id="pageone">
                        <div class="row mt-3">
                          <div class="col-12 col-sm-6">
                            <label class="form-label">Full Name</label>
                            <div class="input-group input-group-dynamic">
                              <input class="multisteps-form__input form-control" type="text" name="full_name" required/>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                            <label class="form-label">Phone Name</label>
                            <div class="input-group input-group-dynamic">
                              <input class="multisteps-form__input form-control" type="text" name="phone_name" required/>
                            </div>
                          </div>
                        </div>
                        <div class="row mt-3">
                          <div class="col-12 col-sm-6">
                            <label class="form-label">Username</label>
                            <div class="input-group input-group-dynamic">
                              <input class="multisteps-form__input form-control" type="text" name="username" required/>
                            </div>
                          </div>
                          <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                            <label class="form-label">Password</label>

                            <div class="input-group input-group-dynamic">
                              <input class="multisteps-form__input form-control" type="text" name="password" required/>
                            </div>
                          </div>
                        </div>

                        <div class="button-row d-flex mt-4">
                          <button id="nextButton1" class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next" disabled>Next</button>
                        </div>
                      </div>
                    </div>
                    <!--single form panel-->
                    <div class="multisteps-form__panel border-radius-xl bg-white" data-animation="FadeIn">
                      <h5 class="font-weight-bold mb-0">General Info</h5>
                      <p class="mb-0 text-sm">Tell us more about him</p>
                      <div class="multisteps-form__content">
                        <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                              <label class="form-label">Phone number</label>
                              <div class="input-group input-group-dynamic">
                                <input class="multisteps-form__input form-control" type="phone" name="phone" required/>
                              </div>
                            </div>
                            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                <label class="form-label">Discord ID</label>
                                <div class="input-group input-group-dynamic">
                                  <input class="multisteps-form__input form-control" type="text" name="discord" required/>
                                </div>
                            </div>

                        </div>

                        <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                              <label class="form-label">Residence</label>
                                <div class="input-group input-group-dynamic">
                                    <select class="form-control" name="residence" id="residence" placeholder="search" required>
                                        <option value="">Select Country</option> <!-- Blank option for initial selection -->
                                        {% for key,value in countries.items %}
                                          <option value="{{key}}">{{value}}</option>
                                        {% endfor%}
                                
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                <label class="form-label">Birth date</label>
                                <div class="input-group input-group-dynamic">
                                    <input class="multisteps-form__input form-control" type="date" name="birth_date" required/>
                                </div>
                            </div>

                        </div>

                        <div class="button-row d-flex mt-4">
                          <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                          <button id="nextButton2" class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next" disabled>Next</button>
                        </div>
                      </div>
                    </div>
                    <!--single form panel-->
                    <div class="multisteps-form__panel border-radius-xl bg-white" data-animation="FadeIn">
                      <h5 class="font-weight-bolder mb-0">Work Information</h5>
                      <p class="mb-0 text-sm">Please provide all the details asked below</p>
                      <div class="multisteps-form__content">
                        <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                                <label class="form-label">Position</label>
                                <div class="input-group input-group-dynamic">
                                    <select class="form-control" name="role" id="role" required>
                                      <option value="">Select Position</option> <!-- Blank option for initial selection -->
                                      {% for role in roles %}
                                      <option value="{{role.id}}"> {{role.role_name}}</option> 
                                      {% endfor %}
                                  </select>
                                </div>
                              </div>

                            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                <label class="form-label">Team</label>
                                <div class="input-group input-group-dynamic">
                                    <select class="form-control" name="team" id="team" required>
                                        <option value="">Select Team</option> <!-- Blank option for initial selection -->
                                        {% for team in teams %}
                                        <option value="{{team.id}}"> {{team.team_name}}</option> 
                                        {% endfor %}
                                      </select>
                                </div>
                            </div>


                        </div>


                        <div class="row mt-3">

                              <div class="col-12 col-sm-6 ">
                                  <label class="form-label">Login time</label>
                                  <div class="input-group input-group-dynamic">
                                    <input class="multisteps-form__input form-control" type="time" name="login_time" required/>
                                  </div>
                              </div>

                              <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                <label class="form-label">Hiring Date</label>
                                <div class="input-group input-group-dynamic">
                                    <input class="multisteps-form__input form-control" type="date" name="hiring_date" required/>
                                </div>
                            </div>
                        </div>


                        <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                                <label class="form-label">Hourly Rate</label>
                                <div class="input-group input-group-dynamic">
                                    <input class="multisteps-form__input form-control" type="number" name="hourly_rate" step="0.5" id="hourly_rate_input" disabled>
                                </div>
                            </div>
                        
                            <div class="col-12 col-sm-6 mt-3 mt-sm-0">
                                <label class="form-label">Monthly Salary</label>
                                <div class="input-group input-group-dynamic">
                                    <input class="multisteps-form__input form-control" type="number" name="monthly_salary" id="monthly_salary_input" disabled>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" id="hourly_rate_checkbox" name="salary_type" value="hourly">
                                    <label class="form-check-label" for="hourly_rate_checkbox">Hourly Rate</label>
                                </div>
                        
                                <div class="form-check form-switch mt-2">
                                    <input class="form-check-input" type="checkbox" id="monthly_salary_checkbox" name="salary_type" value="monthly">
                                    <label class="form-check-label" for="monthly_salary_checkbox">Monthly Salary</label>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="row">
                          <div class="button-row d-flex mt-4 col-12">
                            <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                            <button id="nextButton3" class="btn bg-gradient-dark ms-auto mb-0 js-btn-next" type="button" title="Next">Next</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--single form panel-->
                    <div class="multisteps-form__panel border-radius-xl bg-white h-100" data-animation="FadeIn">
                      <h5 class="font-weight-bolder mb-0">National ID</h5>
                      <p class="mb-0 text-sm">Upload the Agent National ID</p>
                      <div class="multisteps-form__content mt-3">
                        <div class="row">
                            <br>
                            <form action="upload-profile/" method="POST" enctype="multipart/form-data" id="dropzone" class="p-3">
                                <!-- Centered button -->
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-lg bg-gradient-dark mb-3" onclick="document.getElementById('fileInput').click();">Select Image</button>
                                </div>
                                <input id="fileInput" type="file" name="national_id" style="display: none;" accept="image/*" onchange="handleFiles(this.files)">
                            </form>
                            <div id="fileList" class="mt-3"></div>
                        </div>
                        <div class="button-row d-flex mt-4">
                          <button class="btn bg-gradient-light mb-0 js-btn-prev" type="button" title="Prev">Prev</button>
                          <button class="btn bg-gradient-info ms-auto mb-0" type="submit" title="Save">Save</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>










<script>


 

document.addEventListener('DOMContentLoaded', function() {
    const nextButton1 = document.getElementById('nextButton1');
    const nextButton2 = document.getElementById('nextButton2');

    const validatePageOne = () => {
        const fullName = document.querySelector('input[name="full_name"]').value.trim();
        const phoneName = document.querySelector('input[name="phone_name"]').value.trim();
        const username = document.querySelector('input[name="username"]').value.trim();
        const password = document.querySelector('input[name="password"]').value.trim();

        if (fullName && phoneName && username && password) {
            nextButton1.disabled = false;
        } else {
            nextButton1.disabled = true;
        }
    };

    const validatePageTwo = () => {
        const phone = document.querySelector('input[name="phone"]').value.trim();
        const discord = document.querySelector('input[name="discord"]').value.trim();
        const residence = document.querySelector('select[name="residence"]').value.trim();
        const birthDate = document.querySelector('input[name="birth_date"]').value.trim();

        if (phone && discord && residence && birthDate) {
            nextButton2.disabled = false;
        } else {
            nextButton2.disabled = true;
        }
    };



    document.querySelectorAll('input[name="full_name"], input[name="phone_name"], input[name="username"], input[name="password"]').forEach(input => {
        input.addEventListener('input', validatePageOne);
    });

    document.querySelectorAll('input[name="phone"], input[name="discord"], select[name="residence"], input[name="birth_date"]').forEach(input => {
        input.addEventListener('input', validatePageTwo);
    });


});

const hourlyRateInput = document.getElementById('hourly_rate_input');

    hourlyRateInput.addEventListener('input', function() {
        const value = parseFloat(this.value);
        if (isNaN(value)) {
            this.setCustomValidity('Please enter a valid number.');
        } else {
            this.setCustomValidity('');
        }
    });

</script>


<script>
  if (document.getElementById('choices-state')) {
    var element = document.getElementById('choices-state');
    const example = new Choices(element, {
      searchEnabled: false
    });
  };
</script>
<!-- Kanban scripts -->
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>




<script>

    document.addEventListener('DOMContentLoaded', function () {
        if (document.getElementById('residence')) {
            var residence = document.getElementById('residence');
            const example = new Choices(residence, {
                searchEnabled: true,
                searchChoices: true,
                searchFields: ['label', 'value'], // Fields to search within
                searchPlaceholderValue: 'Search...', // Placeholder for the search input
                shouldSort: false, // Disable sorting of choices
                itemSelectText: '', // Text shown in the dropdown when an item is selected
                fuseOptions: {
                    includeScore: true, // Include score in search results
                    threshold: 0.3, // Match threshold for search results
                    keys: ['label', 'value'] // Fields to search within
                }
            });
        }


        if (document.getElementById('role')) {
            var role = document.getElementById('role');
            const example = new Choices(role, {
                searchEnabled: true,
                searchChoices: true,
                searchFields: ['label', 'value'], // Fields to search within
                searchPlaceholderValue: 'Search...', // Placeholder for the search input
                shouldSort: false, // Disable sorting of choices
                itemSelectText: '', // Text shown in the dropdown when an item is selected
                fuseOptions: {
                    includeScore: true, // Include score in search results
                    threshold: 0.3, // Match threshold for search results
                    keys: ['label', 'value'] // Fields to search within
                }
            });
        }

        if (document.getElementById('team')) {
            var team = document.getElementById('team');
            const example = new Choices(team, {
                searchEnabled: true,
                searchChoices: true,
                searchFields: ['label', 'value'], // Fields to search within
                searchPlaceholderValue: 'Search...', // Placeholder for the search input
                shouldSort: false, // Disable sorting of choices
                itemSelectText: '', // Text shown in the dropdown when an item is selected
                fuseOptions: {
                    includeScore: true, // Include score in search results
                    threshold: 0.3, // Match threshold for search results
                    keys: ['label', 'value'] // Fields to search within
                }
            });
        }


    });

</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const hourlyRateCheckbox = document.getElementById('hourly_rate_checkbox');
        const monthlySalaryCheckbox = document.getElementById('monthly_salary_checkbox');
        const hourlyRateInput = document.getElementById('hourly_rate_input');
        const monthlySalaryInput = document.getElementById('monthly_salary_input');
    

        hourlyRateCheckbox.checked = true; // Set hourly rate checkbox as checked initially
        hourlyRateInput.disabled = false;
        monthlySalaryInput.disabled = true;
        monthlySalaryCheckbox.checked = false;
        // Function to handle checkbox changes
        hourlyRateCheckbox.addEventListener('change', function() {
            if (this.checked) {
                hourlyRateInput.disabled = false;
                monthlySalaryInput.disabled = true;
                monthlySalaryCheckbox.checked = false;
            } else {
                this.checked = true; // Prevent unchecking
            }
        });
    
        monthlySalaryCheckbox.addEventListener('change', function() {
            if (this.checked) {
                monthlySalaryInput.disabled = false;
                hourlyRateInput.disabled = true;
                hourlyRateCheckbox.checked = false;
            } else {
                this.checked = true; // Prevent unchecking
            }
        });
    });
    


</script>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const fileInput = document.getElementById('fileInput');
        const fileListDiv = document.getElementById('fileList');
    
        fileInput.addEventListener('change', function() {
            const files = this.files;
            if (files.length > 0) {
                const file = files[0];
                fileListDiv.innerHTML = `<p>Selected File: ${file.name}</p>`;
            } else {
                fileListDiv.innerHTML = ''; // Clear the file list if no file is selected
            }
        });
    });
    
</script>



{% endblock %}
