{% extends 'base-admin.html' %}
{% load custom_filters %}
{% block head %}



<style>
    #map {
        height: 500px;
        width: 100%;
    }

    

    .input-group-static {
        margin-bottom: 1.5rem;
    }

    .input-group-static .form-control.zip-code {
        width: 120px;
    }
</style>


{% endblock %}

{% block body %}



<div class="container-fluid py-4">
  <div class="d-sm-flex justify-content-between">
    <div>
      <a href="/dialercredentials-create/{{campaign.id}}" class="btn btn-icon bg-gradient-info">
        New Credentials
      </a>
    </div>
    <div class="d-flex">
      <div class="dropdown d-inline">
       
      </div>
      <button class="btn btn-icon btn-outline-success ms-2 export" data-type="csv" type="button">
        <i class="material-icons text-xs position-relative">archive</i>
        Export CSV
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">{{campaign.name}} Credentials Table</h5>
          <p class="text-sm mb-0">
            View all Credentials.
          </p>
        </div>
        <div class="table-responsive">
          <table class="table table-flush" id="datatable-search">
            <thead class="thead-light">
              <tr>
                <th>ID</th>
                <th>Dialer</th>
                <th>Username</th>
                <th>Password</th>
                <th>Type</th>
                <th>Action</th>

              </tr>
            </thead>
            <tbody>
              {% for cred in dialer_creds %}
              <tr>
                <td>
                  <div class="d-flex align-items-center">

                    <p class="text-xs font-weight-normal ms-2 mb-0">#{{cred.id}}</p>
                  </div>
                </td>
                <td class="font-weight-normal">
                  <span class="my-2 text-xs">{{cred.dialer}}</span>
                </td>
                <td class="text-xs font-weight-normal">
                  {{cred.username}}
                </td>
                <td class="password-cell font-weight-normal">
                   <span class="my-2 text-xs">{{ cred.password }}</span>
 
                </td>
                <td class="text-xs font-weight-normal">
                  {% if cred.account_type == "agent" %}
                  <span class="badge filter bg-gradient-info" data-color="info" >Agent</span>
                  {% elif cred.account_type == "supervisor" %}
                  <span class="badge filter bg-gradient-warning" data-color="warning" >Supervisor</span>
                  {% elif cred.account_type == "admin" %}
                  <span class="badge filter bg-gradient-danger" data-color="danger" >Admin</span>

                  {% endif %}
                </td>
                
              
              
                <td class="text-sm">
                  <div class="d-flex align-items-center">
                    <a href="/dialercredentials-modify/{{cred.id}}" data-bs-toggle="tooltip" data-bs-placement="top" title="Modify Credentials" data-container="body" data-animation="true">
                    <i class="material-icons text-secondary position-relative text-lg">drive_file_rename_outline</i>
                    </a>
                    <a href="javascript:;" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete Credentials" data-container="body" data-animation="true"
                      onclick= "showDeleteConfirmation('{{account}}','{{cred.username}}','{{cred.id}}')">
                      <i class="material-icons text-secondary position-relative text-lg">delete</i>
                    </a>
                  </div>
                </td>
              </tr>
              {% endfor %}
              

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>




  

  <script>
    const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
      searchable: true,
      fixedHeight: false,
    });
  
    // Custom function to decode all URL-encoded characters
    function decodeAllData(data) {
      return decodeURIComponent(data); // Decodes any URL-encoded characters
    }
  
    document.querySelectorAll(".export").forEach(function(el) {
      el.addEventListener("click", function(e) {
        var type = el.dataset.type;
  
        var data = {
          type: type,
          filename: "dialer-creds-list-{{campaign.name}}",
        };
  
        if (type === "csv") {
          data.columnDelimiter = ",";
        }
  
        // Use the export functionality but prevent immediate download
        const csvContent = dataTableSearch.export({
          type: type,
          download: false, // Prevent immediate download
        });
  
        // Decode all URL-encoded characters
        const decodedContent = decodeAllData(csvContent);
  
        // Now trigger the download with the decoded content
        const blob = new Blob([decodedContent], { type: "text/csv;charset=utf-8;" });
        const link = document.createElement("a");
        link.href = URL.createObjectURL(blob);
        link.download = data.filename + ".csv";
        link.click();
      });
    });
  </script>





<script>
  // Function to retrieve CSRF token from cookies
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }

  function showDeleteConfirmation(account, fullName, cred_id) {
    const swalWithBootstrapButtons = Swal.mixin({
      customClass: {
        confirmButton: 'btn bg-gradient-danger',
        cancelButton: 'btn bg-gradient-dark'
      },
      buttonsStyling: false
    });

    swalWithBootstrapButtons.fire({
      title: `Delete ${fullName}`,
      html: `
        <div class="card border-0 shadow-sm input-group input-group-static">
          <form id="passwordForm" class="text-center p-3">
            <input type="password" id="passwordInput" class="form-control" placeholder="Enter your password">
          </form>
        </div>
      `,
      showCancelButton: true,
      confirmButtonText: 'Delete',
      confirmButtonColor: '#28a745',
      cancelButtonText: 'Cancel',
      cancelButtonColor: '#dc3545',
      showLoaderOnConfirm: true,
      preConfirm: () => {
        const password = document.getElementById('passwordInput').value;
        if (!password) {
          Swal.showValidationMessage('Please enter your password');
          return false;
        }

        // Fetch CSRF token from cookie
        const csrftoken = getCookie('csrftoken');

        // Send POST request to delete user
        return fetch(`/dialercredentials-delete/${cred_id}/`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': csrftoken // Include CSRF token in headers
          },
          body: JSON.stringify({ password })// Include CSRF token in body
        })
        .then(response => {
          if (!response.ok) {
            throw new Error(`Network response was not ok - ${response.status} ${response.statusText}`);
          }
          return response.json();
        })
        .catch(error => {
          Swal.showValidationMessage(`Request failed: ${error}`);
        });
      },
      allowOutsideClick: () => !Swal.isLoading(),
      didOpen: () => {
        Swal.getConfirmButton().disabled = true;
        document.getElementById('passwordInput').addEventListener('input', () => {
          const password = document.getElementById('passwordInput').value;
          Swal.getConfirmButton().disabled = password.length === 0;
        });
      }
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire({
          title: 'Credentials Deleted!',
          icon: 'success'
        });
      } else if (result.dismiss === Swal.DismissReason.cancel) {
        Swal.fire({
          title: 'Cancelled',
          icon: 'error'
        });
      }
    });
  }
</script>
















<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    
    document.querySelectorAll('.toggle-password').forEach(function(toggle) {
      toggle.addEventListener('click', function(event) {
        event.preventDefault();
  
        const passwordCell = this.closest('td.password-cell');
        const passwordHidden = passwordCell.querySelector('.password-hidden');
        const passwordVisible = passwordCell.querySelector('.password-visible');
  
        if (passwordVisible.style.display === 'none') {
          passwordVisible.style.display = 'inline';
          passwordHidden.style.display = 'none';
          this.querySelector('i').textContent = 'visibility_off'; // Change icon to 'visibility_off'
        } else {
          passwordVisible.style.display = 'none';
          passwordHidden.style.display = 'inline';
          this.querySelector('i').textContent = 'visibility'; // Change icon back to 'visibility'
        }
      });
    });
  });
  
</script>

<style>
  .password-hidden {
    display: inline;
  }
  
  .password-visible {
    display: none;
  }
  
  .toggle-password i {
    cursor: pointer;
  }
  
</style>



{% endblock %}
