{% extends 'base.html' %}

{% load static %}

{% block head %}


<style>
    
    #map {
        height: 500px;
        width: 100%;
    }



    .input-group-static {

        margin-bottom: 1.5rem;
    }

    .input-group-static .form-control.zip-code {
        width: 120px;
    }
</style>



{% endblock %}

{% block body %}


<div class="container-fluid py-4">
    <div class="row">
      <div class="col-lg-8 col-12">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mb-2 mb-md-0">
            <div class="card">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-success shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">check</i>
                </div>
                <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize">Qualified Leads</p>
                  <h5 class="mb-0">
                    {{qualified}}
                  </h5>
                </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <p class="mb-0"><span class=" text-success text-sm font-weight-bolder"> {{qualified_perc}}% </span>of total leads</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mb-lg-3">
            <div class="card">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-danger shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">close</i>
                </div>
                <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize">Disqualified Leads</p>
                  <h5 class="mb-0">
                    {{disqualified}}
                  </h5>
                </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <p class="mb-0"><span class="text-danger text-sm font-weight-bolder">{{disqualified_perc}}% </span>of total leads</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0 mb-2 mb-md-0">
            <div class="card">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">phone_callback </i>
                </div>
                <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize">Callback</p>
                  <h5 class="mb-0">
                    {{callback}}
                  </h5>
                </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <p class="mb-0"><span class="text-info text-sm font-weight-bolder">{{callback_perc}}% </span>of total leads</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-12 mt-4 mt-lg-0">
            <div class="card">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-warning shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">schedule</i>
                </div>
                <div class="text-end pt-1">
                  <p class="text-sm mb-0 text-capitalize">Pending</p>
                  <h5 class="mb-0">
                    {{pending}}
                  </h5>
                </div>
              </div>
              <hr class="dark horizontal my-0">
              <div class="card-footer p-3">
                <p class="mb-0"><span class="text-warning text-sm font-weight-bolder"></span>Total Pending Leads</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-3">
            <div class="card mt-4">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow text-center border-radius-xl mt-n4 float-start">
                  <i class="material-icons opacity-10">splitscreen</i>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <h6 class="mb-0">Pending Leads</h6>
                  </div>
                  <div class="col-md-6 d-flex justify-content-end align-items-center">
                    <small>{{month_name}} {{year}}</small>
                  </div>
                </div>
              </div>
              <div class="card-body p-3 pt-4">
                <ul class="list-group list-group-flush" data-toggle="checklist">
                  {% for lead in pending_leads %}
                  
                  <li class="list-group-item border-0 flex-column align-items-start ps-0 py-0 mb-3">
                    <div class="checklist-item checklist-item-{% if lead.assigned %}danger{% else %}info{% endif %} ps-2 ms-3">
                      <div class="d-flex align-items-center">
                        <div class="form-check">
                          
                        </div>
                        <h6 class="mb-0 text-dark text-sm" href="lead-handling/{{lead.id}}">
                        <a href="lead-handling/{{lead.lead_id}}" target="_blank">
                          {{lead.agent_profile}}
                        </a>
                        </h6>
                        <div class="dropstart float-lg-end ms-auto">
                          <!-- X Button (Remove) -->
                          
                          <!-- Open in New Button -->
                          <a href="javascript:;" data-tippy-content="open" data-tippy-placement="top" onclick="confirmAssignWithSwal({{ lead.lead_id }})" class="float-lg-end ms-auto cursor-pointer" aria-expanded="false">
                              <i class="material-icons text-secondary">
                                  open_in_new
                              </i>
                          </a>
                          {% if lead.assigned %}
                           
                            <a href="javascript:;" data-tippy-content="unassign" data-tippy-placement="top" onclick="confirmUnassignLead({{ lead.lead_id }})" class="float-lg-end ms-auto cursor-pointer" aria-expanded="false" style="margin-right: 10px;">
                              <i class="material-icons text-secondary">
                                  cancel
                              </i>
                            </a>
                          {% endif %}

                        
                      </div>
                      
                      </div>
                      <div class="d-flex align-items-center ms-4 mt-3 ps-1">
                        <div>
                          <p class="mb-0 text-secondary">Prospect Name</p>
                          <span class="text-xs">{{lead.seller_name}}</span>
                        </div>
                        <div class="ms-auto">
                          <p class="mb-0 text-secondary">Campaign</p>
                          <span class="text-xs">{{lead.campaign}}</span>
                        </div>
                        <div class="mx-auto">
                          <p class="mb-0 text-secondary">Date</p>
                          <span class="text-xs">{{lead.pushed}}</span>
                        </div>

                        <div class="mx-auto">
                          <p class="mb-0 text-secondary">Assigned
                            
                          </p> 
                          
                          <span class="text-xs">
                            {% if lead.assigned %}
                              {{lead.assigned}}                           
                              
                            {% else %}
                              Not Assigned
                            {% endif %}
                          </span>
                        </div>
                      </div>
                    </div>
                    <hr class="horizontal dark mt-4 mb-0">
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-12 mt-4 mt-lg-n3">
        <div class="row">
          <div class="col-12 mt-3">
            <div class="card">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">event</i>
                </div>
                <div class="text-end">
                  <p class="text-sm mb-0 text-capitalize">Handled This Year</p>
                  <h5 class="mb-0">
                    {{total_year}}
                  </h5>
                </div>
              </div>
              <div class="card-body p-0">
                <div class="chart">
                  <canvas id="chart-line" class="chart-canvas" height="200"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mt-3">
            <div class="card mt-4">
              <div class="card-header p-3 pt-2">
                <div class="icon icon-lg icon-shape bg-gradient-info shadow text-center border-radius-xl mt-n4 position-absolute">
                  <i class="material-icons opacity-10">house</i>
                </div>
                <div class="text-end">
                  <p class="text-sm mb-0 text-capitalize">My Handled Leads vs. Others</p>
                  <h5 class="mb-0">
                    {{total_handled_month_perc}}%
                  </h5>
                </div>
              </div>
              <div class="card-body px-3 pt-0">
                <div class="row">
                  <div class="col-lg-5">
                    <span class="badge badge-dot d-block text-start pb-0 mt-3">
                      <i class="bg-gradient-info"></i>
                      <span class="text-muted">Handled Leads</span>
                    </span>
                    <span class="badge badge-dot d-block text-start">
                      <i class="bg-gradient-secondary"></i>
                      <span class="text-muted">All Leads</span>
                    </span>
                  </div>
                  <div class="col-lg-7 my-auto">
                    <div class="chart ms-auto">
                      <canvas id="chart-bar" class="chart-canvas" height="150"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <script src="static/js/plugins/chartjs.min.js"></script>

    <script src="static/js/plugins/tilt.min.js"></script>


    <script>
      function confirmAssignWithSwal(leadId) {
          fetch(`/get-lead-status/${leadId}/`, {
              method: 'GET',
              headers: {
                  'X-CSRFToken': '{{ csrf_token }}',
              }
          })
          .then(response => response.json())
          .then(data => {
              if (data.assigned_to_user) {
                  // Lead is already assigned to the current user, redirect them to the lead-handling page
                  window.location.href = `/lead-handling/${leadId}`;
              } else if (data.assigned) {
                  Swal.fire(
                      'Already Assigned!',
                      'This lead has already been assigned to another user.',
                      'error'
                  );
              } else {
                  Swal.fire({
                      title: "Confirm Assignment",
                      text: "Are you sure you want to assign this Lead?",
                      icon: "question",
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes, assign it!',
                      cancelButtonText: 'No, cancel'
                  }).then((result) => {
                      if (result.isConfirmed) {
                          fetch(`/get-lead-status/${leadId}/`, {
                              method: 'POST',
                              headers: {
                                  'X-CSRFToken': '{{ csrf_token }}',
                              }
                          })
                          .then(response => response.json())
                          .then(data => {
                              if (data.assigned) {
                                  Swal.fire(
                                      'Assigned!',
                                      'Lead has been assigned successfully.',
                                      'success'
                                  ).then(() => {
                                      window.location.href = `/lead-handling/${leadId}`;
                                  });
                              } else {
                                  Swal.fire(
                                      'Error!',
                                      'Failed to assign the lead.',
                                      'error'
                                  );
                              }
                          })
                          .catch(error => {
                              Swal.fire(
                                  'Error!',
                                  'There was a problem assigning the lead.',
                                  'error'
                              );
                              console.error("Error during fetch:", error);
                          });
                      } else {
                          Swal.fire(
                              'Cancelled',
                              'The assignment process was cancelled.',
                              'info'
                          );
                      }
                  });
              }
          })
          .catch(error => {
              Swal.fire(
                  'Error!',
                  'There was a problem checking the lead status.',
                  'error'
              );
              console.error("Error during fetch:", error);
          });
      }
    </script>
  
  
  
  
    <script>
      function confirmUnassignLead(leadId) {
          // Step 1: Check if the user has access to unassign the lead
          fetch(`/unassign-lead/${leadId}/`, {
              method: 'GET',
              headers: {
                  'X-CSRFToken': '{{ csrf_token }}',  // CSRF token from the template context
              }
          })
          .then(response => response.json())
          .then(data => {
              // Step 2: Check if the user has access to unassign leads
              console.log(data.access)
              if (!data.access) {
                  Swal.fire(
                      'You cannot unassign!',
                      'You are not allowed to unassign leads.',
                      'error'
                  );
              } else {
                  // Step 3: Confirm the unassign action
                  Swal.fire({
                      title: "Confirm Unassign",
                      text: "Are you sure you want to unassign this lead?",
                      icon: "warning",
                      showCancelButton: true,
                      confirmButtonColor: '#3085d6',
                      cancelButtonColor: '#d33',
                      confirmButtonText: 'Yes, unassign it!',
                      cancelButtonText: 'No, cancel'
                  }).then((result) => {
                      if (result.isConfirmed) {
                          // Step 4: If confirmed, send POST request to unassign the lead
                          fetch(`/unassign-lead/${leadId}/`, {
                              method: 'POST',
                              headers: {
                                  'Content-Type': 'application/json',
                                  'X-CSRFToken': '{{ csrf_token }}',  // CSRF token from the template context
                              },
                              body: JSON.stringify({}),  // Body is empty, but it is required for the POST request
                          })
                          .then(response => response.json())
                          .then(data => {
                              if (data.message) {
                                  Swal.fire(
                                      'Unassigned!',
                                      'The lead has been successfully unassigned.',
                                      'success'
                                  ).then(() => {
                                      window.location.reload();  // Refresh the page after unassigning
                                  });
                              } else {
                                  Swal.fire(
                                      'Error!',
                                      'Failed to unassign the lead.',
                                      'error'
                                  );
                              }
                          })
                          .catch(error => {
                              Swal.fire(
                                  'Error!',
                                  'There was an error processing the unassign request.',
                                  'error'
                              );
                              console.error("Error during fetch:", error);
                          });
                      } else {
                          Swal.fire(
                              'Cancelled',
                              'The unassign action was canceled.',
                              'info'
                          );
                      }
                  });
              }
          })
          .catch(error => {
              Swal.fire(
                  'Error!',
                  'There was a problem checking the lead status.',
                  'error'
              );
              console.error("Error during fetch:", error);
          });
      }
  </script>
  
    
    



    <script>
      var ctx1 = document.getElementById("chart-line").getContext("2d");
      var ctx2 = document.getElementById("chart-bar").getContext("2d");
  
      new Chart(ctx1, {
        type: "line",
        data: {
          labels: ["Jan","Feb","Mar","Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [{
            label: "Leads",
            tension: 0,
            pointRadius: 5,
            pointBackgroundColor: "#26C6DA",
            pointBorderColor: "transparent",
            borderColor: "#26C6DA",
            borderWidth: 4,
            backgroundColor: "transparent",
            data: {{char_data}},
            maxBarThickness: 6,
            fill: true
          }],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: '#c1c4ce5c'
              },
              ticks: {
                display: true,
                padding: 10,
                color: '#9ca2b7',
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: true,
                drawOnChartArea: true,
                drawTicks: false,
                borderDash: [5, 5],
                color: '#c1c4ce5c'
              },
              ticks: {
                display: true,
                padding: 10,
                color: '#9ca2b7',
                font: {
                  size: 14,
                  weight: 300,
                  family: "Roboto",
                  style: 'normal',
                  lineHeight: 2
                },
              }
            },
          },
        },
      });
  
      new Chart(ctx2, {
        type: "doughnut",
        data: {
          labels: ['My Handled Leads', 'All Handled Leads'],
          datasets: [{
            label: "Projects",
            weight: 9,
            cutout: 50,
            tension: 0.9,
            pointRadius: 2,
            borderWidth: 2,
            backgroundColor: ['#26C6DA', '#a8b8d8'],
            data: [{{total_handled_month}}, {{total_month_all|safe}}],
            fill: false
          }],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          plugins: {
            legend: {
              display: false,
            }
          },
          interaction: {
            intersect: false,
            mode: 'index',
          },
          scales: {
            y: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
              },
              ticks: {
                display: false
              }
            },
            x: {
              grid: {
                drawBorder: false,
                display: false,
                drawOnChartArea: false,
                drawTicks: false,
              },
              ticks: {
                display: false,
              }
            },
          },
        },
      });
    </script>


    <script>
      document.addEventListener('DOMContentLoaded', () => {
        tippy('[data-tippy-content]', {
          placement: 'top', // Default placement
          fallbackPlacements: ['top', 'right', 'bottom', 'left'], // Fallbacks if top doesn't fit
          boundary: 'window', // Consider the window as the boundary for fitting
          animation: 'scale', // Optional: Define animation style
          theme: 'light', // Optional: Define theme
        });
      });
    </script>
    

{% endblock %}
